* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #FFFFEC;
}

nav {
    background-color: #a5dd9bab;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 97%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}


.logo {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.logo img {
    height: 40px;
    width: 9rem;
    margin-right: 10px;
}


.nav-list {
    font-size: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

.nav-list li a:hover {
    background-color: #509E2F;
    color: white;
}

.nav-list-item {
    margin-right: 20px;
}

.nav-list-item a {
    text-decoration: none;
    color: black;
}

.profile {
    display: flex;
    align-items: center;
}

.picture {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.title {
    height: 250px;
    position: relative;
    height: 300px;
    width: 100%;

    background-color: yellow;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    align-items: center;
}

.pic {
    height: 230px;
    width: 100%;
    padding: 30px;
    margin-top: 80px;
    background-image: url('3b0de3e0090f8898c24f6e2c892fee6f\ \(2\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    /* position: relative; */
}

.text {
    color: white;
    padding: 40px;
    width: 300px;
}

.text p {
    color: red;
}

.search-bar {
    width: 100%;
    margin-top: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
}

.search>input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search>input {
    background-color: #F3F3F3;
}

.search button {
    padding: 7px;
    background-color: #509E2F;
    color: white;
    border: none;
    cursor: pointer;
}


.choises {
    margin-top: 40px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.select {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select span {
    flex: 1;
}

#all {
    cursor: pointer;
    background-color: #EAAA00;
}

#veg {
    cursor: pointer;
    background-color: #C4D600;
}

#non-veg {
    cursor: pointer;
    background-color: #DC582A;
}

.items {
    display: flex;
    gap: 5px;

}

.filter {
    padding: 10px;
    margin-top: 20px;
    /* height: 150px; */
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    /* border: 1px solid #ccc; */
}

.checboxes {
    font-size: 12px;
}

.checboxes span {

    margin-left: 8px;
}

#above[type="checkbox"]:after{
    cursor: pointer;
    background-color: green;
    color: black;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 7px;
    /* height: 100vh; */
    width: 100%;
    /* gap: 10px;  */
    background-color : #a5dd9b34;
}

.recipe {
    margin-left: 20px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
    background-color: white;
}




img {
    margin: 2px;
    height: 200px;
    width: 300px;
    border-radius: 10px;
}

.discription {
    margin: 9px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dis-1,
.dis-2 {
    display: flex;
    justify-content: space-between;
}

.dis-1 i {
    color: orange;
}

.dis-2 h5 {
    color: #EAAA00;
}

.discription i {
    padding: 2px;
}

.recipe p {
    margin-left: 9px;
    margin-top: 8px;
    color: #ccc;
}

.com {
    display: flex;
    gap: 10px;
}

.social{
    display: flex;
    justify-content: center;
    gap: 18px;
    font-size: 28px;
}

footer{
    height: 22rem;
    background-color: #a5dd9bab;
    border-radius: 5px;
}

.foot { 
    padding-top: 3rem;
    gap: 10rem;
    /* position: relative; */
    height: 300px;
    width: 100%;
    /* background-color: white; */
    display: flex;
    font-size: 14px;
}

.icon{
    background-color: ;
    width: 16rem;
    line-height: 23px;
    word-spacing: 5px;
    margin-left: 2rem;
}
.icon img{
    height: 40px;
    width: 9rem;
    margin-bottom: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#list-2{
    background-color: ;
    width: 24rem;
    font-size: 13px;
    line-height: 23px;
    word-spacing: 5px; 
}

#list-2 input{
    padding: 7px;
    width: 72%;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 9px;

}

#list-2 p{
    margin-bottom: 20px;
    color: #6b6767;
}

.icon button{
    padding: 9px;
    border-radius: 2px;
    background-color: #509E2F;
    border: white;
}